@model TestS8.Models.Modele

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Modele</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accuracy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accuracy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hyperparametre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hyperparametre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accuracy_cross)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accuracy_cross)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Simulation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Simulation.IdSimul)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdModele">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
