@model IEnumerable<TestS8.Models.Modele>

@{
    ViewData["Title"] = "Index";
}

<h2>Historique</h2>

<label for="navigation-select">Trier:</label>
<select id="navigation-select" onchange="navigateToAction(this)">
    <option value="@Url.Action("IndexKNN", "Modeles")">KNN</option>
    <option value="@Url.Action("Index", "Simulations")">Dates</option>
    <option value="@Url.Action("Index", "Modeles")">Tous les modèles</option>
    <option value="@Url.Action("IndexAnalytique", "Modeles")">Analytique</option>
    <option value="@Url.Action("IndexRandomForest", "Modeles")">Random Forest</option>
    <option value="@Url.Action("IndexSVM", "Modeles")">SVM</option>
</select>
<script>
    function navigateToAction(selectElement) {
        var url = selectElement.value;
        if (url) {
            window.location.href = url;
        }
    }
</script>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accuracy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accuracy_cross)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hyperparametre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duree_simul)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Simulation.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Accuracy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Accuracy_cross)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hyperparametre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duree_simul)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Simulation.Date)
                </td>
                <td>
                    <a asp-route-id="@item.ModeleID" asp-controller="Home" asp-action="Relancer">Relancer</a> |
                    <a asp-action="Delete" asp-route-id="@item.ModeleID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
