@model IEnumerable<TestS8.Models.Modele>

@{
    ViewData["Title"] = "Index";
}

<h2> Détails de la simulation</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accuracy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accuracy_cross)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hyperparametre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duree_simul)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Accuracy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Accuracy_cross)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hyperparametre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duree_simul)
                </td>
                <td>
                    <a asp-route-id="@item.ModeleID" asp-controller="Home" asp-action="Relancer">Relancer</a> |
                    <a asp-action="Delete" asp-route-id="@item.ModeleID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
