@model IEnumerable<TestS8.Models.Simulation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duree_simul)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilisateur)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duree_simul)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Utilisateur.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSimul">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdSimul">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdSimul">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
