@{
    ViewData["Title"] = "Accueil";
}
@model TestS8.Models.Methods


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url('https://cdn.pixabay.com/photo/2024/01/29/22/47/ai-generated-8540915_1280.jpg');
            background-size: cover;
            background-position: center;
            padding: 20px; /* Espacement autour du contenu */
            color: #FFFFFF; /* Couleur du texte blanc */
        }

        .welcome-title {
            font-size: 2.5em; /* Taille du titre */
            text-align: center; /* Centrage horizontal */
            margin-bottom: 30px; /* Espacement en dessous */
            text-transform: uppercase; /* Conversion en majuscules */
            letter-spacing: 2px; /* Espacement entre les lettres */
        }

        .Menu {
            list-style-type: none; /* Supprime les puces de la liste */
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-around; /* Centrage horizontal des éléments */
        }

            .Menu li {
                position: relative; /* Position relative pour positionner le sous-menu */
                width: calc(25% - 20px); /* Largeur des cartes */
                background-color: rgba(255, 255, 255, 0.1); /* Fond transparent */
                border-radius: 20px; /* Coins arrondis */
                padding: 20px; /* Espacement à l'intérieur des cartes */
                margin: 0 10px; /* Espacement entre les cartes */
                text-align: center;
                transition: background-color 0.3s ease; /* Transition fluide */
            }

                .Menu li:hover {
                    background-color: rgba(255, 255, 255, 0.3); /* Fond transparent légèrement plus clair au survol */
                }

                .Menu li label {
                    cursor: pointer; /* Curseur pointer */
                }

        /* Styles pour le formulaire */
        .form-container {
            display: none; /* Par défaut, le formulaire est caché */
            background-color: rgba(255, 255, 255, 0.2);
            padding: 20px;
            border-radius: 5px;
            margin-top: 10px;
        }

            .form-container input[type="number"] {
                width: 100px; /* Largeur des champs de nombre */
            }

            .form-container select {
                width: 100px; /* Largeur des listes déroulantes */
            }

        .conteneur-bouton {
            text-align: center; /* Centrage horizontal du bouton */
        }

        .bouton-envoyer {
            background-color: #4CAF50; /* Couleur de fond verte */
            color: white; /* Couleur du texte blanc */
            padding: 10px 20px; /* Espacement autour du texte */
            border: none; /* Pas de bordure */
            border-radius: 5px; /* Coins arrondis */
            cursor: pointer; /* Curseur pointer */
            transition: background-color 0.3s ease; /* Transition fluide */
        }

            .bouton-envoyer:hover {
                background-color: #45a049; /* Couleur de fond plus foncée au survol */
            }

        .import-section {
            background-color: rgba(255, 255, 255, 0.2);
            padding: 20px;
            border-radius: 5px;
            margin-bottom: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    <!-- Titre -->
    <h1 class="welcome-title">Bienvenue</h1>


    <!-- Menu des méthodes analytiques et de machine learning -->
    <form method="post" asp-action="ValiderGuest">
        <ul>
            <li>
                <input type="checkbox" asp-for="Analytique" onclick="showForm('Analytique')">
                <label asp-for="Analytique">Méthode Analytique</label>
            </li>

            <!--KNN-->
            <li>
                <input type="checkbox" asp-for="KNN" onclick="showForm('KNN')">
                <label asp-for="KNN">Méthode KNN</label>
                <div id="form-container-KNN" class="form-container">
                    <!-- Formulaire pour KNN avec paramètres fixes -->
                    <div>
                        <label>n_neighbors</label>
                        <input asp-for="n_neighbors" type="number" value="5" disabled>
                        <p>Détail : Il s'agit du nombre de voisins à utiliser par défaut pour les requêtes.</p>
                    </div>
                    <div>
                        <label>weights</label>
                        <input asp-for="weights" type="text" value="uniform" disabled>
                        <p>Détail : Il s'agit de la fonction de poids utilisée dans la prédiction</p>
                    </div>
                    <div>
                        <label>Algorithm</label>
                        <input asp-for="algorithm" type="text" value="auto" disabled>
                        <p>Détail : Il s'agit de la métrique à utiliser pour le calcul de la distance</p>
                    </div>
                    <div>
                        <label>p_knn</label>
                        <input asp-for="p_knn" type="number" value="5" disabled>
                        <p>Détail : Il s'agit du nombre de voisins à utiliser par défaut pour les requêtes.</p>
                    </div>
                </div>
            </li>


            <!-- Random Forest -->
            <li>
                <input type="checkbox" asp-for="RandomForest" onclick="showForm('RandomForest')">
                <label asp-for="RandomForest">Méthode RandomForest</label>
                <div id="form-container-RandomForest" class="form-container">
                    <!-- Formulaire pour RandomForest avec paramètres fixes -->
                    <div>
                        <label for="n_estimator">n_estimators</label>
                        <input type="number" asp-for="n_estimators" value="100" readonly>
                        <p>Détail : Il s'agit du nombre d'arbres dans la forêt.</p>
                    </div>
                    <div>
                        <label asp-for="max_depth">max_depth</label>
                        <input type="number" asp-for="max_depth" value="10" readonly>
                        <p>Détail : Profondeur maximale de l’arbre. Si None, les nœuds sont développés jusqu’à ce que toutes les feuilles sont pures ou jusqu’à ce que toutes les feuilles contiennent moins de min_samples_split échantillons.</p>
                    </div>
                    <div>
                        <label asp-for="min_samples_split">min_samples_split</label>
                        <input type="number" asp-for="min_samples_split" value="2" readonly>
                        <p>Détail : Nombre minimum d'échantillons requis pour diviser un nœud interne.</p>
                    </div>
                    <div>
                        <label asp-for="min_samples_leaf">min_samples_leaf</label>
                        <input type="number" asp-for="min_samples_leaf" value="1" readonly>
                        <p>Détail : Nombre minimum d'échantillons requis pour être à un nœud feuille.</p>
                    </div>
                    <div>
                        <label asp-for="bootstrap">Bootstrap</label>
                        <input type="text" asp-for="bootstrap" value="True" readonly>
                        <p>Détail : Contrôle si un échantillon Bootstrap est utilisé lors de la construction des arbres.</p>
                    </div>
                </div>
            </li>


            <!-- SVM -->
            <li>
                <input type="checkbox" asp-for="SVM" onclick="showForm('SVM')">
                <label asp-for="SVM">Méthode SVM</label>
                <div id="form-container-SVM" class="form-container">
                    <!-- Formulaire pour SVM avec paramètres fixes -->
                    <div>
                        <label asp-for="C">C</label>
                        <input type="number" asp-for="C" value="1" readonly>
                        <p>Détail : Il s'agit du paramètre de régularisation.</p>
                    </div>
                    <div>
                        <label asp-for="kernel">Kernel</label>
                        <input type="text" asp-for="kernel" value="rbf" readonly>
                        <p>Détail : Il spécifie le type de noyau à utiliser dans l’algorithme.</p>
                    </div>
                    <div>
                        <label asp-for="probability">Probability</label>
                        <input type="text" asp-for="probability" value="True" readonly>
                        <p>Détail : Activation ou non des estimations de probabilité.</p>
                    </div>
                    <div>
                        <label asp-for="tol">tol</label>
                        <input type="number" asp-for="tol" value="1e-3" readonly>
                        <p>Détail : Tolérance pour le critère d'arrêt.</p>
                    </div>
                </div>
            </li>


            <div class="conteneur-bouton">
                <button type="submit" class="bouton-envoyer">Valider</button>
            </div>
    </form>


    <div class="col-md-8">
        <div class="result">
            <h4>Result:</h4>
            @if (ViewBag.Analytique != null)
            {
                <pre>@Html.Raw(ViewBag.Analytique)</pre>
            }
            @if (ViewBag.Randomforest != null)
            {
                <pre>@Html.Raw(ViewBag.Randomforest)</pre>
            }
            @if (ViewBag.KNN != null)
            {
                <pre>@Html.Raw(ViewBag.KNN)</pre>
            }
            @if (ViewBag.SVM != null)
            {
                <pre>@Html.Raw(ViewBag.SVM)</pre>
            }
        </div>
    </div>

   
      
    

    <!-- Script JavaScript -->
    <script>
        function showForm(methodName) {
            var formContainer = document.getElementById('form-container-' + methodName);
            if (formContainer.style.display === 'block') {
                formContainer.style.display = 'none';
            } else {
                formContainer.style.display = 'block';
            }

            // Assure que le formulaire est affiché en bas de la carte
            window.scrollTo({
                top: formContainer.offsetTop,
                behavior: 'smooth'
            });

        }
        function showForm(methodName) {
            var formContainer = document.getElementById('form-container-' + methodName);
            var importSection = document.getElementById('import-section-' + methodName);

            if (formContainer.style.display === 'block') {
                formContainer.style.display = 'none';
                importSection.style.display = 'none';
            } else {
                formContainer.style.display = 'block';
                importSection.style.display = 'block';
            }

            // Assure que le formulaire est affiché en bas de la carte
            window.scrollTo({
                top: formContainer.offsetTop,
                behavior: 'smooth'
            });
        }
        function toggleFields(method) {
            // La fonction toggleFields est utilisée pour activer ou désactiver les champs de texte
            // Cette fonction peut être modifiée pour répondre à vos besoins spécifiques
            // Par exemple, si vous voulez que les valeurs des paramètres soient fixes et non modifiables,
            // vous pouvez ne pas modifier les champs de texte lorsqu'ils sont activés
        }

    </script>
</body>
</html>
